[Unit]
Description=uWSGI instance to server Card Game Page
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/CardGame/
Environment="PATH=/root/CardGame/CardGameEnv/bin"
ExecStart=/root/CardGame/CardGameEnv/bin/uwsgi --ini CardGamePage/CardGame.ini

[Install]
WantedBy=multi-user.target