[Unit]
Description=uWSGI instance to server Card Game Page
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/CardGame/CardGamePage
Environment="PATH=/var/www/CardGame/CardGameEnv/bin"
ExecStart=/var/www/CardGame/CardGameEnv/bin/uwsgi --ini CardGame.ini

[Install]
WantedBy=multi-user.target