[Unit]
Description=uWSGI instance to server Card Game Page
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/ubuntu/CardGame/
Environment="PATH=/home/ubuntu/CardGame/CardGameEnv/bin"
ExecStart=/home/ubuntu/CardGame/CardGameEnv/bin/uwsgi --ini CardGamePage/CardGame.ini

[Install]
WantedBy=multi-user.target